<div class="flex-container-card">

    <div>
        <div class="titulo-card">
            <h4>You get paid!</h4>
        </div>
        <div class="subtitlo-card">
            Booking.com comission...
        </div>
    </div>
    <div class="hora-card">
            2:25
    </div>
    
</div>

<div class="flex-container-card">

    <div>
        <div class="titulo-card">
            <h4>Comission paid</h4>
        </div>
        <div class="subtitlo-card">
            Booking.com comission...
        </div>
    </div>
    <div class="hora-card">
            2:25
    </div>
    
</div>

<div class="flex-container-card">

    <div>
        <div class="titulo-card">
            <h4>New booking</h4>
        </div>
        <div class="subtitlo-card">
            Booking.com comission...
        </div>
    </div>
    <div class="hora-card">
            2:25
    </div>
    
</div>
